@import "tailwindcss";

@theme {
  --font-teodor: var(--font-teodor);
  --font-nHaas55: var(--font-nHaas55);
  --font-nHaas65: var(--font-nHaas65);
  --font-ptSerif: var(--font-ptSerif);
  --font-roboto: var(--font-roboto);

  --color-communityBlue: #003666;
  --color-communityDarkBlue: #022849;
  --color-communityExtraDarkBlue: #141c2f;
  --color-communityYellow: #C99502;
}